In [1]:
#Read in the Data
import pandas as pd

In [25]:
dataset_url = 'post natal data.csv'
dataset = pd.read_csv(dataset_url)
dataset

,Timestamp,Age,Feeling sad or Tearful,Irritable towards baby & partner,Trouble sleeping at night,Problems concentrating or making decision,Overeating or loss of appetite,Feeling anxious,Feeling of guilt,Problems of bonding with baby,Suicide attempt
0,6/14/2022 20:02,35-40,Yes,Yes,Two or more days a week,Yes,Yes,Yes,No,Yes,Yes
1,6/14/2022 20:03,40-45,Yes,No,No,Yes,Yes,No,Yes,Yes,No
2,6/14/2022 20:04,35-40,Yes,No,Yes,Yes,Yes,Yes,No,Sometimes,No
3,6/14/2022 20:05,35-40,Yes,Yes,Yes,Yes,No,Yes,Maybe,No,No
4,6/14/2022 20:06,40-45,Yes,No,Two or more days a week,Yes,No,Yes,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
1498,6/15/2022 0:35,30-35,Yes,No,Two or more days a week,No,No,Yes,Maybe,Sometimes,No
1499,6/15/2022 0:35,25-30,Sometimes,No,No,Often,No,Yes,Maybe,Yes,No
1500,6/15/2022 0:35,25-30,No,Sometimes,Two or more days a week,No,No,No,Yes,No,Not interested to say
1501,6/15/2022 0:36,25-30,No,Sometimes,Yes,Often,No,Yes,No,No,No
1502,6/15/2022 0:36,45-50,Sometimes,Sometimes,Two or more days a week,No,No,No,Maybe,No,No

In [26]:
dataset.Age.unique()

array(['35-40', '40-45', '30-35', '45-50', '25-30'], dtype=object)

In [27]:
dataset['Feeling sad or Tearful'].unique()

array(['Yes', 'No', 'Sometimes'], dtype=object)

In [28]:
dataset['Feeling sad or Tearful'] = dataset['Feeling sad or Tearful'].map({'Yes':1, 'No':0, 'Sometimes':0.5 })
dataset['Feeling sad or Tearful'].value_counts()

1.0    536
0.0    524
0.5    443
Name: Feeling sad or Tearful, dtype: int64

In [9]:
import numpy as np

In [10]:
# Data is kinda already in bins so we need to Create another column with descriptions of each age group

In [42]:
dataset = dataset.drop(columns = 'Timestamp')

In [43]:
target = dataset.iloc[:,-1]

In [13]:
dataset.Age.dtype

dtype('O')

In [44]:
dataset = dataset.dropna()

In [15]:
print(dataset.isnull().sum())

Age                                          0.0
Feeling sad or Tearful                       0.0
Irritable towards baby & partner             0.0
Trouble sleeping at night                    0.0
Problems concentrating or making decision    0.0
Overeating or loss of appetite               0.0
Feeling anxious                              0.0
Feeling of guilt                             0.0
Problems of bonding with baby                0.0
Suicide attempt                              0.0
dtype: float64

In [16]:
dataset.Age.value_counts()

Series([], Name: Age, dtype: int64)

In [ ]:
#dataset['Age'] = pd.Categorical(dataset['Age'], ordered = True, categories = ['25-30', '30-35', '35-40', '40-45', '45-50'])
#dataset['Age']
#dataset['Age'].min()

In [ ]:
# define the rank order for the age ranges
#rank_order = {'25-30': 1, '30-35': 2, '35-40': 3, '40-45': 4, '45-50': 5}

# use the rank order to convert the age ranges to numeric values
#dataset['Age'] = dataset['Age'].map(rank_order)

# rename the numeric values with new labels
#new_labels = {1: 'Under 30', 2: 'Early Thirties', 3: 'Late Thirties', 4: 'Early Fourties', 5: 'Over 45'}
#dataset['Age'] = dataset['Age'].map(new_labels)

# print the updated data frame
#dataset['Age']

In [ ]:
# Create age bins based on the distribution of ages in the dataset
# age_bins = pd.Categorical(dataset['Age'], ordered=True)

In [17]:
# Check for missing values
print("Number of missing values in Age column:", dataset['Age'].isnull().sum())

Number of missing values in Age column: 0

In [ ]:
# In order to demonstrate the predict_model() function on unseen data, 
# a sample of 5% (54 records) has been withheld from the original dataset 
# to be used for predictions at the end of experiment.

data = dataset.sample(frac=0.95, random_state=786).reset_index(drop=True)

In [40]:
# create a sample data frame
#df = pd.DataFrame({'Ages': ['35-40', '40-45', '30-35', '45-50', '25-30']})
# map the age ranges to their midpoint values
dataset['Age_MidPoint'] = dataset['Age'].apply(lambda x: np.mean([int(i) for i in x.split('-')]))

In [46]:
dataset['Problems concentrating or making decision'].value_counts()

No       583
Often    473
Yes      435
Name: Problems concentrating or making decision, dtype: int64

In [47]:
dataset['Overeating or loss of appetite'].value_counts()

No            835
Yes           340
Not at all    316
Name: Overeating or loss of appetite, dtype: int64

In [48]:
dataset['Feeling of guilt'].value_counts()

No       621
Maybe    528
Yes      342
Name: Feeling of guilt, dtype: int64

In [49]:
dataset['Problems of bonding with baby'].value_counts()

No           554
Sometimes    539
Yes          398
Name: Problems of bonding with baby, dtype: int64

In [50]:
dataset['Problems concentrating or making decision'] = dataset['Problems concentrating or making decision'].map({'Yes':1, 'No':0, 'Often':1 })

dataset['Overeating or loss of appetite'] = dataset['Overeating or loss of appetite'].map({'Yes':1, 'No':0, 'Not at all':0 })

dataset['Feeling of guilt'] = dataset['Feeling of guilt'].map({'Yes':1, 'No':0, 'Maybe':1 })

dataset['Problems of bonding with baby'] = dataset['Problems of bonding with baby'].map({'Yes':1, 'No':0, 'Sometimes':0.5 })

In [37]:
dataset['Trouble sleeping at night'].value_counts()

Two or more days a week    640
Yes                        445
No                         418
Name: Trouble sleeping at night, dtype: int64

In [38]:
dataset['Trouble sleeping at night'] = dataset['Trouble sleeping at night'].map({'Yes':1, 'No':0, 'Two or more days a week':2 })

In [34]:
dataset['Irritable towards baby & partner'].value_counts()

Yes          555
No           499
Sometimes    443
Name: Irritable towards baby & partner, dtype: int64

In [35]:
dataset['Irritable towards baby & partner'] = dataset['Irritable towards baby & partner'].map({'Yes':1, 'No':0, 'Sometimes':0.5 })

In [30]:
dataset['Feeling anxious'].value_counts()

Yes    980
No     523
Name: Feeling anxious, dtype: int64

In [31]:
dataset['Feeling anxious'] = dataset['Feeling anxious'].map({'Yes':1, 'No':0})

In [52]:
dataset['Suicide attempt'].value_counts()

No                       703
Yes                      453
Not interested to say    335
Name: Suicide attempt, dtype: int64

In [53]:
dataset['Suicide attempt'] = dataset['Suicide attempt'].map({'Yes':1, 'No':0, 'Not interested to say':1})

In [54]:
dataset

,Age,Feeling sad or Tearful,Irritable towards baby & partner,Trouble sleeping at night,Problems concentrating or making decision,Overeating or loss of appetite,Feeling anxious,Feeling of guilt,Problems of bonding with baby,Suicide attempt,Age_MidPoint
0,35-40,1.0,1.0,2,1,1,1,0,1.0,1,37.5
1,40-45,1.0,0.0,0,1,1,0,1,1.0,0,42.5
2,35-40,1.0,0.0,1,1,1,1,0,0.5,0,37.5
3,35-40,1.0,1.0,1,1,0,1,1,0.0,0,37.5
4,40-45,1.0,0.0,2,1,0,1,0,1.0,0,42.5
...,...,...,...,...,...,...,...,...,...,...,...
1498,30-35,1.0,0.0,2,0,0,1,1,0.5,0,32.5
1499,25-30,0.5,0.0,0,1,0,1,1,1.0,0,27.5
1500,25-30,0.0,0.5,2,0,0,0,1,0.0,1,27.5
1501,25-30,0.0,0.5,1,1,0,1,0,0.0,0,27.5
1502,45-50,0.5,0.5,2,0,0,0,1,0.0,0,47.5

In [55]:
X = dataset.drop(['Suicide attempt', 'Age'], axis = 1)
X

,Feeling sad or Tearful,Irritable towards baby & partner,Trouble sleeping at night,Problems concentrating or making decision,Overeating or loss of appetite,Feeling anxious,Feeling of guilt,Problems of bonding with baby,Age_MidPoint
0,1.0,1.0,2,1,1,1,0,1.0,37.5
1,1.0,0.0,0,1,1,0,1,1.0,42.5
2,1.0,0.0,1,1,1,1,0,0.5,37.5
3,1.0,1.0,1,1,0,1,1,0.0,37.5
4,1.0,0.0,2,1,0,1,0,1.0,42.5
...,...,...,...,...,...,...,...,...,...
1498,1.0,0.0,2,0,0,1,1,0.5,32.5
1499,0.5,0.0,0,1,0,1,1,1.0,27.5
1500,0.0,0.5,2,0,0,0,1,0.0,27.5
1501,0.0,0.5,1,1,0,1,0,0.0,27.5
1502,0.5,0.5,2,0,0,0,1,0.0,47.5

In [56]:
Y = dataset.iloc[:,-2]
Y

0       1
1       0
2       0
3       0
4       0
       ..
1498    0
1499    0
1500    1
1501    0
1502    0
Name: Suicide attempt, Length: 1491, dtype: int64

In [57]:
Y.value_counts()

1    788
0    703
Name: Suicide attempt, dtype: int64

In [58]:
from sklearn.feature_selection import VarianceThreshold

def remove_low_variance(input_data, threshold = 0.1):
    selection = VarianceThreshold(threshold)
    selection.fit(input_data)
    return input_data[input_data.columns[selection.get_support(indices = True)]]

X = remove_low_variance(X, threshold = 0.1)
X

,Feeling sad or Tearful,Irritable towards baby & partner,Trouble sleeping at night,Problems concentrating or making decision,Overeating or loss of appetite,Feeling anxious,Feeling of guilt,Problems of bonding with baby,Age_MidPoint
0,1.0,1.0,2,1,1,1,0,1.0,37.5
1,1.0,0.0,0,1,1,0,1,1.0,42.5
2,1.0,0.0,1,1,1,1,0,0.5,37.5
3,1.0,1.0,1,1,0,1,1,0.0,37.5
4,1.0,0.0,2,1,0,1,0,1.0,42.5
...,...,...,...,...,...,...,...,...,...
1498,1.0,0.0,2,0,0,1,1,0.5,32.5
1499,0.5,0.0,0,1,0,1,1,1.0,27.5
1500,0.0,0.5,2,0,0,0,1,0.0,27.5
1501,0.0,0.5,1,1,0,1,0,0.0,27.5
1502,0.5,0.5,2,0,0,0,1,0.0,47.5

In [59]:
X.to_csv('descriptor_list.csv', index = False)

In [60]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [61]:
model = RandomForestRegressor(n_estimators=500, random_state=42)
model.fit(X, Y)
r2 = model.score(X, Y)
r2

0.957785896033744

In [62]:
Y_pred = model.predict(X)
Y_pred

array([1.   , 0.   , 0.004, ..., 1.   , 0.   , 0.   ])

In [63]:
print('Mean squared error (MSE): %.2f'
      % mean_squared_error(Y, Y_pred))
print('Coefficient of determination (R^2): %.2f'
      % r2_score(Y, Y_pred))

Mean squared error (MSE): 0.01
Coefficient of determination (R^2): 0.96

In [ ]:
#from sklearn.model_selection import train_test_split

#data, data_unseen = train_test_split(dataset, test_size=0.2, random_state=0)

#print('Data for Modeling: ' + str(data.shape))
#print('Unseen Data For Predictions: ' + str(data_unseen.shape))

In [ ]:
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import accuracy_score, confusion_matrix

### Create a function to predict postpartum depression based on input features
#def predict_postpartum_depression(features):
    # Split the data into training and test sets
    #X_train, X_test, y_train, y_test = train_test_split(dataset.drop("postpartum_depression", axis=1), dataset["postpartum_depression"], test_size=0.2, random_state=0)

    # Train a random forest classifier on the training data
    #clf = RandomForestClassifier(n_estimators=100, random_state=0)
    #clf.fit(X_train, y_train)

    # Predict postpartum depression for the input features
    #prediction = clf.predict(features.values.reshape(1, -1))

    # Return the prediction
    #return prediction

In [64]:
import pickle

In [65]:
pickle.dump(model, open('model.pkl', 'wb'))